*.iml
.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
*.properties
*.bat
gradlew
settings.gradle
gradle/
build.gradle
app/google-services.json
app/proguard-rules.pro
app/build.gradle
app/build
app/libs
app/src/androidTest
app/src/main/res/drawable
app/src/main/res/drawable-v24
app/src/main/res/mipmap*