*.iml
.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
*.properties
*.bat
gradlew
settings.gradle
gradle/
app/google-services.json
app/build
app/proguard-rules.pro
app/build.gradle